.nav-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 9px;
}

.title-score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1000px;
}

.title-container {
  display: flex;
  align-items: center;
}

.score-container {
  display: flex;
}

.title-img {
  width: 22px;
}

.title-text {
  color: #ffffff;
  font-size: 25;
  font-weight: 500;
}

.score-text {
  font-size: 25px;
  margin-left: 30px;
  font-weight: 500;
}
